@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

header {
  text-align: center;
  width: 100%;
  background-color: #144313;
  color: #d59425;
  font-size: 27px;
  font-weight: bold;
  padding-top: 7px;
  padding-bottom: 7px;
}

#dataContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
}
#refreshSearch {
  animation: rotating 1.5s linear infinite;
  display: none;
}
#refreshSearchForm {
  margin-left: 4px;
  animation: rotating 1.5s linear infinite;
  display: none;
}

#generalContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 30px;
}
#blockContainer {
  display: none;
}

.cardShop {
  border: 2px solid #9fbc93;
  border-radius: 10px;
  box-shadow: 1px 3px 6px 0px #9fbc93;
  margin-top: 12px;
  padding-left: 20px;
}

.nameShop {
  color: #1a5a19;
}

#searcherContainer {
  color: #1a5a19;
  display: flex !important;
  align-self: center;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
}

#searchIcon {
  padding-left: 8px;
  padding-right: 8px;
  padding: 4px 8px 4px 8px;
  border-radius: 3px;
  border: 1px solid #2c942b;
  color: #2c942b;
  background-color: white;
  outline: none;
}

#searchIcon:hover {
  background-color: #2c942b;
  color: white;
}
#searchIcon:active {
  box-shadow: 0px 0px 5px 1px rgba(3, 60, 231, 0.75);
}
#idContainer {
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid rgb(208, 206, 206);
  border-radius: 3px;
}
#totalData {
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.errorShop {
  color: #1a5519;
}

.fieldForm {
  display: flex;
}
.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-control {
  width: 95%;
  margin-right: 10px;
  border: 2px solid;
  border-radius: 3px;
  min-height: 23px;
  outline: none;
}
#formContainer {
  border: 2px solid #9fbc93;
  border-radius: 10px;
  margin-top: 12px;
  padding-left: 20px;
  padding: 10px;
}
#sendData {
  display: flex;
  justify-content: flex-end;
  margin-right: 13px;
  margin-top: 20px;
}

.displayForm {
  animation-name: openForm;
  animation-duration: 1.5s;
  overflow: hidden;
  display: block;
}

.displayContent {
  display: block !important;
}
#hideSearcherContainer {
  display: none;
}
.foldForm {
  padding: 0px;
  animation-name: closeForm !important;
  animation-duration: 1.5s !important;
  overflow: hidden !important;
}
.hide {
  display: none !important;
}

.sectionForms {
  margin: 0px;
  color: #2c942b;
  padding-top: 4px;
}
#sendButton {
  display: flex;
  border: 1px solid #2c942b;
  border-radius: 3px;
  font-size: 16px;
  background-color: #c9e6c2;
}
#sendButton:hover {
  background-color: #9bda8b;
}

.errorForm {
  color: red;
  font-size: 13px;
}

.errorField {
  border-color: red;
}

.correctField {
  border-color: green;
}

#shopId {
  min-height: 19px;
  outline: none;
}

#contSelect {
  max-width: 900px;
  display: flex;
  flex-direction: column;
}
#fatherContSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13%;
}
#contOptions {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
}
.option {
  margin-top: 6px;
  margin-bottom: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #e3fbd2;
  border: 2px solid #83ac6c;
  border-radius: 3px;
  outline: none;
}

.option:hover {
  background-color: #a5da86;
}

.option:active {
  background-color: #1c5f1b;
  color: white;
}

#refreshIcon {
  transform: translate(0%, 50%);
  font-size: 65px;
  color: #1a5a19;
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
  width: 55px;
  animation: rotating 1.5s linear infinite;
  display: block;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes openForm {
  from {
    height: 0px;
  }
  to {
    height: 190px;
  }
}

@keyframes closeForm {
  from {
    height: 190px;
  }
  to {
    height: 0px;
  }
}
